.sconsign.dblite
.sconf_temp

*~
*.swp
*.o
*.os
*.obj
*.aps
*.ilk
*.tar.gz
*.suo
*.ncb
*.idb 
*.obj 
*/*.obj
*.opt 
*.pch 
*.jsh
*.jsall
*.pyc
*.log
*.exe
*.exp
*.lib
*.idb
*.pdb
*.manifest
*.user
*.gch
*.*sdf
*.psess
*#
.#*
Debug/
Release/
*.sln
*.vcxproj*
*.orig
_Resharper.*
